body {
    position: relative;
    margin: auto;
    width: 1025px;
    height: 899px;
}

.topo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

img {
    display: flex;
    margin: 60px 0 0 40px;
    width: 60%;
}

.botao {
    border: none;
    border-radius: 8px;
    background-color: #27AE60;
    color: #fffefe;
    font-weight: 600;
    font-size: 15px;
    margin: 90px 50px;
    width: 160px;
    height: 45px;
}

.palavra {
    position: absolute;
    top: 50%;
    right: 8%;
    font-size: 40px;
    font-weight: 600;
}

.errada {
    color: red;
}

.certa {
    color: green;
}

.letras {
    display: flex;
    margin: auto;
    padding-top: 5%;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 68%;
    height: 10%;
}

.letra.desativado {
    color: #7e8fa0;
    background-color: #9eabb5;
}

.letra.ativado {
    color: #39739d;
    background-color: #e0ecf5;
}

.letra {
    border: 2px solid #7ba6c7;
    border-radius: 3px;
    margin: 8px 8px 0 0;
    width: 42px;
    height: 42px;
    font-size: 18px;
}

.chute {
    display: flex;
    margin: auto;
    align-items: center;
    width: 65%;
    padding: 30px;
    font-size: 20px;
}

.chute input {
    border: 2px solid #cccdcd;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #9eabb5;
    width: 400px;
    height: 30px;
    margin: 0 18px 0 12px;
}

.chute button {
    border: 2px solid #7ba6c7;
    border-radius: 3px;
    background-color: #e1ecf4;
    color: #3c76a1;
    width: 90px;
    height: 36px;
}